form{
}

fieldset{
  display: inline-block;
  margin-top: 30px
}



.container{
  margin-left:25%;
}
.info-clt{
  width:33%;
}
.adresse{
  width:33%;
  display:inline-block;
}
.inputGroupContainer{
  max-width: 80%;
  width:90%;
}
.total-panier{
  display:inline-block;
  margin-top: 10%;
  vertical-align: top;
